#BASE APP 
NEXT_PUBLIC_APP_NAME="Waiting List"

#CONFIG
MAX_WAITLISTS_CREATED_BY_USER=5
MAX_MEMBERS_BY_WAITLIST=1000 #waiting valided and refused 
MAX_LOG_ACTION_BY_WAITLIST=20

#Better Auth
BETTER_AUTH_SECRET=mySecretKey
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

#Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/waiting-list

#SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your@gmail.com
SMTP_PASSWORD=yourPassword
SMTP_FROM=your@gmail.com
